<div class="mx-auto" style="width: 600px;">
  <h1 class="text-center fw-bold roboto-regular ">CRÉER TA PROPRE BIBLIOTHÈQUE DE FILMS</h1>
</div>
  <p class="mx-auto text-center my-5" style="width: 1000px;">Monter une super collection de films, c'est tout un art ! D'abord, choisis ton créneau : un genre, une époque, des réalisateurs préférés... Ensuite, fais tes recherches pour dénicher les pépites, les versions rares et restaurées.
Soigne la présentation, catalogue tout ça proprement avec infos et belles images. Comme ça, tes invités pourront facilement naviguer dans ta bibli et trouver leur bonheur.
Avec un peu de soin, tu auras une collection de cinéma de ouf qui fera rêver tous tes potes !</p>
<div class="text-center my-5">
<%= link_to "Voir mes lists", lists_path, :class => 'btn btn-primary mx-auto text-center' %>
</div>
